.contenedor {
    width: 90%;
    max-width: 700px;
    height: 400px;
    margin: 25px 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: rgba(239, 239, 239, 0.7);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    margin:  0px 15px;
}

.contenedorChart {
    width: 100%;
    height: 80%;
}