.contenedorPerfilCarrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    height: auto;
    margin-top: 4rem;
}

.ContenedorImagenPortada {
    width: 100%;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}