.containerPortada {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin-top: 4rem;
}

.contenedorImagen {
    width: 100%;
    position: relative;
}


.ImagenPortada {
    width: 100%;
    height: auto;
}

.containerInteraccion {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -60px;
    width: 50%;
    height: auto;
}

.containerBoton {
    width:1500px;
    padding: 0rem 2rem;
    max-width: 300px;
}
.ImagenPerfil{
    border-radius: 9999px;
}
.fotoPerfil {
    position: relative;
    border-radius: 9999px;
    border: 4px solid white;
    min-width: 110px;
    margin: 0px 0px 0px 15px;
    height: auto;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.contendorpopup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorBoton {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.continuar {
    padding: 1rem 0.75rem;
    width: 80%;
    max-width: 350px;
    font-size: 14px;
    background: #9DDFD5;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.contenedorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputText {
    width: 100%;
    max-width: 350px;
    padding: 1rem;
}

.barra {
    background-color: black;
    border-radius: 999px;
    height: 4px;
    width: 50px;
}

.contenedorTitulo {
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verificar {
    background: #9DDFD5;
}



@media (max-width: 300px) {
    .fotoPerfil {
        min-width: 90px;
    }
}