.contenedorProductoItem {
    max-width: 230px;
    margin: 1px;
    max-height: 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: rgba(239, 239, 239, 0.7);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}


.contenedorImagenProductoPerfil {
    width: 100%;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.ImagenVenta {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.contenedorTexto {
    margin: 10px 5px ;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ 
}

.TextoPrecio {
    font-size: x-small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80px;
}

.TextoTitulo {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 390px) {
    .TextoPrecio {
        font-size: x-small;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 40px;
    }
    .TextoTitulo {
        font-size: 12px;
    }
}