.contenedor {
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0rem;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.titulo{
    margin: 0px;
}