.TarjetaBlog {
    width: 95%;
    max-width: 500px;
    margin: 25px 15px;
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: rgba(239, 239, 239, 0.7);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.TarjetaBlogcabecera {
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0.5rem;
}

.TarjetaBlogImagenPerfil {
    flex: 1;
    display: flex;
    justify-content: center;
    width: auto;

}

.ImagenPerfil {
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.ImagenPerfil:active,
.ImagenPerfil:focus {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.TarjetaBlogInformacionPerfil {
    flex: 3;
    padding: 0rem 0.325rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TarjetaBlogTitulo{
    font-size: 13px;
}

.TarjetaBlogReportar {
    flex: 1;
    display: flex;
    justify-content: center;
    justify-content: center;

}

.TarjetaBlogContenido {
    margin: 1rem 0.25rem;
    padding: 0rem 0.5rem ;
}

.TarjetaBlogDescripcion {
    height: auto;
    margin: 1rem 0rem;
}

.TarjetaBlogPortada {
    height: auto;
    margin: 1rem 0rem;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.ImagenPortada {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.TarjetaBlogInteraccion {
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem ;
}

.TarjetaBlogBotones {
    display: flex;
}