.contenedor {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorcategorías {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria {
    padding: 5px;
}

.inputcategoria {
    display: none;
}

.labelcategoria {
    border: 1px solid #fff;
    display: block;
    position: relative;
    padding: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.texto {
    text-align: center;
    margin: 15px;
}
.barra{
    background-color: black;
    border-radius: 999px;
    height: 4px;
    width: 50px;
}