.contenedor {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.barra{
    background-color: black;
    border-radius: 999px;
    height: 4px;
    width: 50px;
}
.contenedorcategorías {
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.categoria {
    width: 100%;
}

.inputcategoria {
    display: none;
}

.labelcategoria {
    width: 95%;
    border: 2px solid #fff;
    display: block;
    position: relative;
    padding: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #9DDFD5;
    border: none;
}